<div class= "top_background">
  <div class = "row">
    <div class = "col-12">
      <div class="center-block">
        <h3 class="session_style" style="margin-top: 50px;">ログイン</h3><br />
      </div>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>

    <div class="field">
      <div class = "row">
        <div class = "col-3 offset-3 text-light">
          <span>メールアドレス</span>
        </div>
        <div class = "col-3">
          <%= f.email_field :email, class: "form-control", autofocus: true,  autocomplete: "email" %><br />
        </div>
      </div>
    </div>

    <div class="field">
      <div class = "row">
        <div class = "col-3 offset-3 text-light">
          <span>パスワード</span>
        </div>
        <div class = "col-3">
          <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %><br />
        </div>
      </div>
    </div>

    <div class="field">
      <div class = "row">
        <div class = "col-3 offset-3 text-light">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class = "row">
        <div class = "col-1 offset-5">
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-success btn-xs"; %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="center-block-session">
    <%= render "users/shared/links" %>
  </div>
</div>