<div class= "contact_background">
  <div class="center-block"  style="margin-bottom: 50px;">
  <h2><span class="marker_blue" style="margin: 20px">連絡詳細</span></h2>
  </div>

  <div class="center-block">
    <div class='row'>
      <div class='col-6 offset-3 center-contents'>
        <div class="table-responsive">
          <table class='table table-hover'>

            <tr class="table-light">
              <th class="marker_contact">日付</th>
              <th class="contact_style"><%= @contact.created_at.strftime('%Y/%m/%d') %></th>
            </tr>

            <tr class="table-light">
              <th class="marker_contact">対象クラス</th>
              <th class="contact_style">
                <% @class_names.each_with_index do |class_name,i| %>
                  <%= i==0? '':',' %>
                    <%= class_name.name %>
                <% end %>
              </th>
            </tr>

            <tr class="table-light">
              <th class="marker_contact">件名</th>
              <th class="contact_style"><%= @contact.title %></th>
            </tr>

            <tr class="table-light">
              <th class="marker_contact">内容</th>
              <th class="contact_style"><%= @contact.body %>
              </th>
            </tr>

            <tr class="table-light">
              <th class="marker_contact">image</th>
              <th class="contact_style"><%= attachment_image_tag @contact,:image, style: "width:100%;" %>
              </th>
            </tr>
          </table>
          <%= link_to "戻る", contacts_path, class: "btn btn-primary btn-xs"; %>
        </div>
      </div>
    </div>
  </div>
</div>