<div class="user_background">
  <div class="container-fluid">
    <div class="center-block">
      <h2><span class="marker_title">お子さん情報登録</span></h2>
    </div>
    <p id="notice"><%= notice %></p>
    <%= form_with model: @children, url: children_path, method: :post ,local:true do |f| %>
      <%= render 'layouts/errors', model: f.object %>
      <div class='col-6 offset-3 center-contents'>
        <div class="table-responsive">
          <table class='table table-hover'>
            <tr>
              <th class="marker">名前</th>
              <td>
                <div class="field">
                  <%= f.text_field :family_name, class: "form-control", autofocus: true, placeholder:"田中", autocomplete: "family_name" %>
                  </div>
              </td>
              <td>
                <div class="field">
                  <%= f.text_field :first_name, class: "form-control", autofocus: true, placeholder:"太郎", autocomplete: "first_name" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">フリガナ</th>
              <td>
                <div class="field">
                  <%= f.text_field :family_name_kana, class: "form-control", autofocus: true, placeholder:"タナカ", autocomplete: "family_name_kana" %>
                </div>
              </td>
              <td>
                <div class="field">
                  <%= f.text_field :first_name_kana, class: "form-control", autofocus: true, placeholder:"タロウ", autocomplete: "first_name_kana" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">生年月日</th>
              <td>
                  <div class="birth_date_field">
                    <%= f.date_select(
                          :birth_date,
                          use_month_numbers: true,
                          start_year: 1930,
                          end_year: (Time.now.year),
                          default: Date.new(1989, 1, 1)) %>
                  </div>
              </td>
            </tr>

            <tr>
              <th class="marker">クラス</th>
              <td>
                <div class="field blank">
                  <%= f.select :class_name_id, options_for_select(ClassName.all.map{|i| [i[:name], i[:id]] }), include_blank: "選択して下さい" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">お迎え者</th>
              <td>
                <div class="field blank" >
                  <%= f.text_field :pick_up_person, class: "form-control", autofocus: true, placeholder:"母", autocomplete: "pick_up_person" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">お迎え時間</th>
              <td>
                <div class="field blank">
                  <%= f.time_select(
                    :pick_up_time,
                    use_month_numbers: true,
                    default: Date.new) %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">アレルギー</th>
              <td>
                <div class="field blank">
                  <%= f.text_area :allergies, class: "form-control", autocomplete: "allergies" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">特記事項</th>
              <td>
                <div class="field blank">
                  <%= f.text_area :remarks, class: "form-control", autocomplete: "remarks" %>
                </div>
              </td>
            </tr>
          </table>
          <div class="actions">
            <%= f.submit "登録", class: "btn btn-success btn-xs"; %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>