<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="center-block">
      <h2 class="user_title">会員一覧</h2>
    </div>
    <div class='col-10 offset-1 center-contents'>
	    <div class="table-responsive">
	        <table class='table table-hover'>
				<thead class="thead-light">
					<tr>
						<th>氏名</th>
						<th>住所</th>
						<th>緊急連絡先</th>
						<th>メールアドレス</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td>
								<%= link_to admins_user_path(user.id) do %>
									<%= user.family_name %><%= user.first_name %>
		            			<% end %>
							</td>
							<td>
								<%= user.post_code %><%= user.address %>
							</td>
							<td>
								<%= user.telephone %>
							</td>
							<td>
								<%= user.email %>
							</td>
						</tr>
					<% end %>
					<%= paginate @users %>
				</tbody>
			</table>
		</div>
	</div>
</div>
