<div class="user_background">
  <div class="container-fluid">
    <div class="center-block">
      <h2><span class="marker_title">送迎者登録情報編集</span></h2>
    </div>
    <%= form_for(@pick_up_person) do |f| %>
      <%= render 'layouts/errors', model: f.object %>
      <div class='col-6 offset-3 center-contents'>
        <div class="table-responsive">
          <table class='table table-hover'>
            <tr>
              <th class="marker">名前</th>
              <td>
                <div class="field">
                  <%= f.text_field :family_name, class: "form-control",  autocomplete: "family_name" %>
                  </div>
              </td>
              <td>
                <div class="field">
                  <%= f.text_field :first_name, class: "form-control",  autocomplete: "first_name" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">フリガナ</th>
              <td>
                <div class="field">
                  <%= f.text_field :family_name_kana, class: "form-control",  autocomplete: "family_name_kana" %>

                </div>
              </td>
              <td>
                <div class="field">
                  <%= f.text_field :first_name_kana, class: "form-control",  autocomplete: "first_name_kana" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">生年月日</th>
              <td>
                <div class="field blank">
                  <%= f.date_select(
                    :birth_date,
                    use_month_numbers: true,
                    start_year: 1930,
                    end_year: (Time.now.year),
                    default: Date.new(1989, 1, 1)) %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">郵便番号</th>
              <td>
                <div class="field blank">
                  <%= f.text_field :post_code, class: "form-control",  autocomplete: "post_code" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">住所</th>
              <td>
                <div class="field blank" >
                  <%= f.text_area :address, class: "form-control",  autocomplete: "address" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">電話番号(ハイフンなし)</th>
              <td>
                <div class="field blank">
                  <%= f.text_area :telephone, class: "form-control",  autocomplete: "telephone" %>
                </div>
              </td>
            </tr>

            <tr>
              <th class="marker">関係性</th>
              <td>
                <div class="field blank">
                  <%= f.text_area :relationship, class: "form-control",  autocomplete: "relationship"%>
                </div>
              </td>
            </tr>
          </table>
          <div class="actions">
            <%= f.submit "更新", class: "btn btn-success btn-xs";%>
            <%= link_to "戻る", user_path, class: "btn btn-success btn-xs"; %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
