<div class="container-fluid">
  <div class="center-block">
    <h2>連絡確認</h2>
  </div>

<%= form_for @contact, url: admins_contacts_path do |f| %>
<div class="center-block">

  <div class="field">
    title: <%= @contact.title %>
    <%= f.hidden_field :title %>
  </div>
  <div class="field">
    content: <%= @contact.body %>
    <%= f.hidden_field :body %>
  </div>
  <div class="actions">
    <%= link_to '戻る', new_admins_contact_path %>
  </div>
  <div class="actions">
    <%= f.submit '送信' %>
  </div>
<% end %>
</div>