<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="center-block">
      <h2 class="children_title">子ども一覧</h2>
    </div>
    <div class="center-block">
    	<%= render "class_name_search" %>
	</div>
    <div class='col-10 offset-1 center-contents'>
	    <div class="table-responsive">
	        <table class='table table-hover'>
				<thead class="thead-light">
					<tr>
						<th>クラス名</th>
						<th>園児名</th>
						<th>生年月日</th>
						<th>お迎え者</th>
						<th>お迎え時間</th>
					</tr>
				</thead>

				<tbody>
					<% @children.each do |children| %>
						<tr>
							<td>
								<%= children.class_name.name %>
							</td>
							<td>
								<%= link_to admins_user_path(children.user.id) do %>
									<%= children.family_name %><%= children.first_name %>
									(<%= children.family_name_kana %><%= children.first_name_kana %>)
		            			<% end %>
							</td>
							<td>
								<%= children.birth_date.strftime("%Y年%m月%d日") %>
							</td>
							<td>
								<%= children.pick_up_person %>
							</td>
							<td>
								<%= children.pick_up_time.strftime("%H時%M分") %>
							</td>
						</tr>
					<% end %>
					<%= paginate @children %>
				</tbody>
			</table>
		</div>
	</div>
</div>