<h1>イベント新規登録</h1>

<%= form_for(@event, url:admins_events_path) do |f| %>

	<h4>日時</h4>
	<%= f.text_field :time %>

	<h4>イベント名</h4>
	<%= f.text_field :title %>

	<h4>対象クラス</h4>
	<% @class_names.each do |name| %>
		<div>
            <%= check_box :class, :name,{ multiple: true }, name.id, nil %>
        	<span><%= name.name %></span>
        </div>
    <% end %>

	<h4>イベント内容</h4>
	<%= f.text_area :body %>

	<%= f.submit '投稿' %>
<% end %>