<h1>イベント新規登録</h1>

<%= form_for(@event, url:admins_events_path) do |f| %>

	<h4>イベント名</h4>
	<%= f.text_field :title %>


	<h4>開始時間</h4>
		<%= f.datetime_select(
		:start,
		use_month_numbers: true,
		start_year: 2000,
		end_year: 2030,
		default: Date.new(2020, 1, 1)) %>

	<h4>終了時間</h4>
		<%= f.datetime_select(
		:end,
		use_month_numbers: true,
		start_year: 2000,
		end_year: 2030,
		default: Date.new(2020, 1, 1)) %>




<!-- 	<h4>対象クラス</h4>
	<%# @class_names.each do |name| %>
		<div>
            <%#= check_box :class, :name,{ multiple: true }, name.id, nil %>
        	<span><%#= name.name %></span>
        </div>
    <%# end %> -->

	<h4>イベント内容</h4>
	<%= f.text_area :body %>

	<div class="actions">
		<%= f.submit '投稿' %>
	</div>
<% end %>