<h1>イベント詳細</h1>

    <table class='table'>

      <tr>
        <th>イベント名</th>
        <th><%= @event.title %></th>
      </tr>

      <tr>
        <th>開始時間</th>
        <th><%= @event.start.strftime("%Y年%m月%d日 %H時%M分") %>
        </th>
      </tr>

      <tr>
        <th>終了時間</th>
        <th><%= @event.end.strftime("%Y年%m月%d日 %H時%M分") %>
        </th>
      </tr>


      <tr>
        <th>対象クラス</th>
        <th><%#= @class_name.name %></th>
      </tr>

      <tr>
        <th>イベント内容</th>
        <th><%= @event.body %></th>
      </tr>
    </table>
    <%= link_to "編集", edit_admins_event_path(@event.id), class: "btn btn-primary btn-new-register btn-xs"; %>
  </div>
</div>